<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RegOnline.RegressionTest.DataAccess.Properties.Settings.BetaConnectionString"
            connectionString="Data Source=ws0034devsql01\qa1rom;Initial Catalog=Beta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RegOnline.RegressionTest.DataAccess.Properties.Settings.ROMasterConnectionString"
            connectionString="Data Source=ws0034devsql01\qa1rom;Initial Catalog=ROMaster;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RegOnline.RegressionTest.DataAccess.Properties.Settings.ROWarehouseConnectionString"
            connectionString="Data Source=ws0034devsql01\qa1rom;Initial Catalog=ROWarehouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RegOnline.RegressionTest.DataAccess.Properties.Settings.BetaConnectionString1"
            connectionString="Data Source=qasql\qa1rom;Initial Catalog=Beta;Persist Security Info=True;User ID=regonlinebrowser;Password=eguest"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>